/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
}
.SetupWizard{
    -fx-background-color: #4c4a48;
}
.SetupWizard_Title{
    -fx-text-fill: #cc0033;
    -fx-font-weight: bold;
    -fx-font-size: 30;
    
}
.SetupWizard_Label_Header{
    -fx-background-color: #cc0033;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-border-width: 0;
    
}
.SetupWizard_Label{
    -fx-text-fill: #cc0033;
    -fx-font-weight: bold;
    -fx-font-size: 17;
    
}
.SetupWizard_Label_Review{
    -fx-text-fill: #cc0033;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    
}
.SetupWizard_Note{
    -fx-text-fill: #cc0033;
    -fx-font-style: italic;
    -fx-font-size: 15;
    
}
.SetupWizard_Label_Review_Answer{
    -fx-text-fill: #cc0033;
    -fx-font-size: 16;
    
}
.SetupWizard_TextField{
    -fx-background-color: transparent;
    -fx-border-color: #cc0033;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 20;
    -fx-alignment: CENTER;
}
.SetupWizard_Button{
    -fx-background-color: #cc0033;
    -fx-background-radius: 30;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}
.SetupWizard_Button_Exit{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-color: #ffffff;
    -fx-border-width: 1 0 0 0;
}
.SetupWizard_container{
    -fx-background-color: #ffffff;
    -fx-border-color: #cc0033;
    -fx-border-width: 1 5 1 0;
    
}
.SetupWizard_Left_container{
    -fx-background-color: #cc0033;
    -fx-border-color: transparent;  
}
.SetupWizard_Left_Menu_Label{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 20;
    -fx-padding: 0 0 0 10;
    -fx-text-fill: #ffffff; 
}
.SetupWizard_Left_Menu_Label_Highlight{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 10;
    -fx-text-fill: #ffffff; 
}
